.special {
}

.card {
  width: 30rem;
  height: 40rem;

  background: rgba(0, 0, 0, 0.05);

  border-radius: 1rem;
  overflow: hidden;
}

.card > img {
  width: 100%;
  height: 50%;

  object-fit: cover;
}

.card > div {
  height: 50%;

  display: flex;
  flex-direction: column;


  padding: 2rem 1rem;
}

.card > div > a {

  margin-top: auto;
}

.specialHeader {
  display: flex;
  justify-content: space-between;

  padding: 3rem 1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: nowrap;

  gap: 1rem;
}
