/** IMPORT: Schriften **/
@import url(
"https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

/** IMPORT: Tailwind **/
@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 80rem;

  display: flex;
  flex-direction: column;

  margin: 0 auto;

  font-family: "Karla", cursive;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 1px;


}

header, footer, section {
  padding: 3rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text", serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/** Links: **/
a {
  font-size: 1rem;
  text-decoration: none;

  color: black;
}

a:hover {
  font-weight: bold;
}
