.container {
  max-width: 20rem;
  text-align: center;
}

.title {
  font-size: 1.4rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid #DDD;
}

.item:last-child {
  border-bottom: none;
}

.day {
  font-weight: bold;
}

.hours {
}
